@model Category
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="card" style="width:400px">
    <div class="card-body">
        <h4 class="card-title">@Model.Name</h4>
    </div>
</div>